@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  margin: 64px;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 160px;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.titulo h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.redes-sociais {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: -45px;
}

.redes-sociais-logo {
  background: #f6f6f6;
  border-radius: 23px;
  max-height: 32px;
  margin-left: 6px;
}

.tema button {
  align-self: flex-end;
  background: #ecf4ff;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
}

.projetos {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  margin-top: 25px;
}

.projetos ul {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  list-style-type: none;
  text-align: center;
}

.projetos div {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
}

.projetos a {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}

.projetos a:hover {
  transition: 0.5s;
  opacity: 0.6;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7f;
}